{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" method="post">
                  {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <input type="email"  name="email" class="form-control form-control-user" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="name" class="form-control form-control-user" placeholder="Full Name">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password"  name="password1" class="form-control form-control-user" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password"  name="password2" class="form-control form-control-user" placeholder="Confirm Password">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Sign Up
                </button>
              </form>
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger mt-2">
                  {{ error }}
              </div>
                {% endfor %}            
                {% endfor %}
              <hr>
              <div class="text-center">
                <a class="small" href="#">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'auth:signin' %}">Already have an account? Sign in!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
</div>
{% endblock%}