{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="wrapper">
    {% include 'leaves/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
            {% include 'leaves/topbar.html'%}
            <div class="content">
                <div class="animated fadeIn">
                    <div class="orders">
                      <div class="col-md-12">
                        <h4 class="box-title my-4 color-black">Total Monthly Leaves</h4>
                        <div class="card shadow mb-4">
                          <div class="card-body">
                            <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                              <canvas id="LeavesBarChart" style="display: block; width: 737px; height: 320px;" width="737" height="320" class="chartjs-render-monitor"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                            <div class="col-xl-12">
                                    <h4 class="box-title my-4 color-black">Leaves Manager</h4>
                                        <div class="table-stats order-table ov-h">
                                            <table class="table seperate">
                                                <thead >
                                                    <tr>
                                                      <th class="color-black">Employee</th>
                                                        <th class="color-black">Leave Type</th>
                                                        <th class="color-black">Date</th>
                                                        <th class="color-black">Time</th>
                                                        <th class="color-black">Status</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id="new-attend" class="card-row">
                                                           
                                                      </tr>
                                                    
                                                    {% for l in leaves %}
                                                    <tr class="card-row">
                                                            <td>  <span class="name">{{l.user.name}}</span> </td>
                                                            <td>  <span class="name">{{l.leave_type}}</span> </td>
                                                            <td> <span class="product">{{l.leave_start_date|date:"Y-m-d"}} - {{l.leave_end_date|date:"Y-m-d"}}</span> </td>
                                                            <td><span>{{l.leave_start_time|time:"H:i A"}} - {{l.leave_end_time|time:"H:i A"}}</span></td>
                                                            <td>
                                                                <span class="badge badge-waiting">{{l.status}}</span>
                                                            </td>
                                                            <td>
                                                            <a class="btn btn-info ml-2 btn-circle btn-sm" href="{% url 'base:leave_detail' l.id %}"><i class="fas fa-arrow-circle-right"></i></a>
                                                        </td>
                                                        </tr>
                                                        
                                                        {% endfor %}
                                                </tbody>
                                            </table>
                                            {% if not leaves %}
                                                <div class="alert text-center fade show" role="alert">
                                                    No archived leaves yet.
                                                  </div>
                                            {% endif %}
                                            {% if leaves.has_other_pages %}
                                            <ul class="pagination">
                                              {% for i in leaves.paginator.page_range %}
                                                {% if leaves.number == i %}
                                                  <li class="active page-link active-pg-btn"><span><a href="#">{{ i }}</a> <span class="sr-only" >(current)</span></span></li>
                                                {% else %}
                                                  <li><a class="btn page-button" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                              {% endfor %}
                                            
                                            </ul>
                                          {% endif %}
                                        </div> 
                            </div> 
                        </div>
                    </div>
    
          </div>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script>
Chart.defaults.global.defaultFontFamily = 'Segoe UI';
Chart.defaults.global.defaultFontColor = '#858796';

var ctx = document.getElementById("LeavesBarChart");
$.ajax({
  url: "{% url 'base:leaves_bar_chart' %}",
  success: function (data) {
    var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: data.months,
    datasets: [{
      label: "Leaves",
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df",
      data: data.leaves_monthly,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 25,
      }],
      yAxes: [{
        ticks: {
            beginAtZero: true
        }
                
            }]
    },
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
  }
});
  }
})





  </script>
{% endblock %}