{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EAM</title>
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/base.min.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    {% block content %}
    {% endblock %}

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/base.min.js' %}"></script>
</body>