<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Guide</title>
</head>
<body>
    <main role="main" class="container my-5">

        <div class="starter-template">
          <h1 class="text-center" style="font-weight: bold;">Employee Attendance Management</h1>
          <p class="lead text-center">Hello Mr.Zaremba, welcome to the EAM guide. In this page I will explain you how to use the system.</p>

        <section class="section-gap">
          <h3 style="font-weight: bold; color:rgb(0, 132, 255)">Tech Stack</h3>
          <p class="lead">This project containerized by <span style="font-weight: bold; color:rgb(0, 81, 255)">Docker</span> and using <span style="font-weight: bold; color:rgb(9, 138, 52)">Django</span> as a backend.</p>
          <p class="lead">Database is <span style="font-weight: bold; color:rgb(0, 132, 255)">PostgreSQL</span> and configured inside Docker conatiner.</p>
          <p class="lead">The project developed by using Test-Driven Development (TDD), therefore, the tests automated by <span style="font-weight: bold; color:rgb(255, 187, 0)">Travis CI</span> and all tests are passing successfully.</p>
          <p class="lead">The proxy server handles by <span style="font-weight: bold; color:rgb(15, 199, 107)">Nginx</span> and deployed on  <span style="font-weight: bold; color:rgb(0, 81, 255)">Digital Ocean Cloud</span>.</p>
          <p class="lead">The design of page using <span style="font-weight: bold; color:rgb(131, 15, 199)">Bootstrap</span> framework.</p>

        </section>

        <section class="section-gap">
            <h3 style="font-weight: bold; color:rgb(0, 132, 255)">Authentication</h3>
            <p class="lead">First you need to register to access the platform. After registration you will be redirected to the Leaves page which is first module of platform.
                You can also logout and login again to check the login functionality. If you miss something in registration forum the error message will displayed. 
                All functionalites has been checked in tests using Travis CI and passed. Feel free to play around with authentication modules.
            </p>
            <p class="lead">You cannot access the platfrom without login. If you try to navigate platform, the system will automatically redirect you login page.
                Give a try: <a href="{% url 'base:leaves' %}">>>Go to Leaves page</a>
            </p>
            <p class="lead">Forgot password still under development. I will implement this feature at final stage of project. Because it needs email backend.
            </p>
            <p class="lead"><a href="{% url 'auth:signup' %}">>>Go to Sign Up page</a></p>
            <p class="lead"><a href="{% url 'auth:signin' %}">>>Go to Sign In page</a></p>

          </section>

          <section class="section-gap">
            <h3 style="font-weight: bold; color:rgb(0, 132, 255)">Leaves</h3>
            <p class="lead">Once you logged in you'll see Leaves module. There are three main components in this page.
            </p>
            <ul>
                <li>Leave Forum</li>
                <li>Percentage Conatiner</li>
                <li>Leaves</li>
            </ul>
            <p class="lead">The forum is using <span style="font-weight: bold; color:rgb(255, 51, 0)">AJAX</span> to make POST request and django backend catches the information to create new object in databse.
                    
            </p>
            <p class="lead">The percentage container calculates the available leave days of user. The annual leave limit is 25 by default and automatically defined when new user instance created. But it will handled by supervisor in future development.
                Try to add some leaves to see the changes. Check following functionalities:

                </p>
            <ul>
                <li>Try to send empty forum.</li>
                <li>Try to provide wrong inputs.</li>
                <li>Try to request more than 25 days leave.</li>
                <li>Try to make request in past. Make first date input greater than second date input. (e.g. I want leave from 18-04-2020 to 14-04-2020)</li>
            </ul>
         
            <p class="lead">Finally, all leaves will displayed in table. You can delete particular leave if you want. I will also add archive functionality to the leaves.
                <a href="{% url 'base:leaves' %}">>> Go to Leaves Page</a>
                </p>
            <img class="img-responsive" src="/static/img/example.png" width="800rem"/>
          </section>

          <section class="section-gap">
            <h3 style="font-weight: bold; color:rgb(0, 132, 255)">Administration</h3>
            <p class="lead">If you want to access Django admin you have to use following credentials:
            </p>
            <ul>
                <li>email: admin@admin.com</li>
                <li>password: admin</li>
            </ul>
            <p class="lead"><a href="/admin">>> Go to admin</a>
            </p>
          </section>

          <section class="section-gap">
            <h3 style="font-weight: bold; color:rgb(0, 132, 255)">Source Code</h3>
            <p class="lead">The source code availabe on my GitHub repo:
            </p>
            <p class="lead"><a href="https://github.com/raszidzie/Employee-Attendance-Management" target="_blank">>> Go to Source Code</a>
            </p>
          </section>
        </div>
    
      </main>
</body>
</html>

